:root {
  --primary-color: #fff;
  --font-color: #000;
  --primary-font: "Crimson Text", sans-serif;
  --secondary-font: "Libre Baskerville", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  color: var(--font-color);
  font-family: var(--primary-font);
}

.container {
  display: grid;
  /* grid-template-rows: repeat(auto-fit, min-content); */
  grid-template-columns:
    [sidebar-start] minmax(min-content, 10vw)
    [sidebar-end main-start] 1fr [main-end];
  gap: 0.5rem;
}

.container > *:not(:first-child) {
  padding-right: 6.5rem;
  padding-left: 2.5rem;
}

/* SIDEBAR */
.sidebar {
  height: 100vh;
  grid-column: sidebar-start / sidebar-end;
  position: sticky;
  top: 0;
  padding: 6.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
}
.sidebar > * {
  padding: 0 4rem;
}
.sidebar > *:not(:last-child) {
  margin-bottom: 2.5rem;
}
.heading {
  font-size: 3.4rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  line-height: 1.3;
  align-self: center;
}
.heading__link {
  text-decoration: none;
  color: inherit;
}
.sidebar__nav--list {
  list-style: none;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.23;
  letter-spacing: 0.14rem;
}
.sidebar__nav--item {
  padding: 0.4rem 0;
}
.sidebar__nav--link:link,
.sidebar__nav--link:visited {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s;
}
.sidebar__nav--link:hover,
.sidebar__nav--link:active {
  color: #969696;
}
.sidebar__social {
  margin-top: auto;
  width: 75%;
}
.sidebar__social--list {
  list-style: none;
  font-size: 1.4rem;
  font-family: var(--secondary-font);
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.9px;
  line-height: 1.6;
}
.sidebar__social--link:link,
.sidebar__social--link:visited {
  display: flex;
  justify-content: start;
  align-items: center;
  text-decoration: none;
  color: inherit;
  padding: 0.4rem 0;
  transition: all 0.2s;
}
.sidebar__social--link:hover,
.sidebar__social--link:active {
  color: #969696;
  fill: #969696;
}
.sidebar__social--span {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.sidebar__social--icon {
  max-width: 1.5rem;
  max-height: 1.5rem;
}

.main-content {
  padding-top: 6.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-template-rows:
    repeat(4, minmax(min-content, 45rem)) repeat(2, minmax(min-content, 38rem))
    repeat(4, minmax(min-content, 45rem));
  gap: 0.5rem;
}
.portrait__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.big-img {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.18),
      rgba(0, 0, 0, 0.18)
    ),
    url(img/portrait-background-img.jpg);
  grid-column: 1 / -1;
  grid-row: 5 / span 2;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.big-img__caption {
  width: 64%;
  text-align: center;
}
.big-img__text {
  color: var(--primary-color);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  line-height: 1.6;

  font-size: 2.5rem;
  font-style: italic;
  font-family: var(--secondary-font);
}
.big-img__btn {
  display: inline-block;
  border: 0.5rem solid rgba(255, 255, 255, 0.03);
  margin-top: 10%;
  padding: 1.4rem 3.5rem;
  color: rgba(0, 0, 0, 0.78);
  background-color: rgba(255, 255, 255, 0.42);
  text-transform: uppercase;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.2;
  letter-spacing: 0.3rem;
  transition: all 0.2s;
}
.big-img__btn:hover {
  color: rgba(0, 0, 0, 0.65);
  background-color: rgba(255, 255, 255, 0.3);
}

/* MEDIA QUERIES */
@media only screen and (max-width: 78.125em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 62.5em) {
  .container {
    display: grid;
    grid-template-rows: 8rem repeat(auto-fit, min-content);
    grid-template-columns: [main-start] 1fr [main-end];
    gap: 0.5rem;
    padding-bottom: 3rem;
  }
  .main-content {
    padding-top: 1rem;
    padding-right: 2.5rem !important;
  }
  /* .container {
  } */
  .sidebar {
    height: auto;
    grid-column: 1/-1;
    grid-row: 1 / 2;
    position: relative;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 0;
  }
  .sidebar > *:not(:first-child) {
    display: none;
  }
  .heading {
    align-self: start;
    padding: 1rem 2.5rem 0 2.5rem !important;
    font-size: 3rem;
  }
}
